# Example environment configuration for NASA NeoWs Data Pipeline
# Copy this file to ".env" and adjust values as needed.

# Set to "1" or "true" to enable demo mode (use cached sample data)
DEMO_MODE = "true"

# Replace this with your NASA API key if you have one, or leave DEMO_KEY for free, limited API access
NASA_API_KEY = DEMO_KEY

# Database Configuration
USE_POSTGRES=false  # Set to "true" to use PostgreSQL, "false" for SQLite

#Postgresql Settings (used when USE_POSTGRES=true)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nasa_neows
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password_if_needed